<a n:href="$container->getService('system.pages')->getHomepage()" class="uk-navbar-item uk-logo">
    <img n:attr="src => $options['image'], width => empty($options['width']) ? 'auto' : $options['width'], height => empty($options['height']) ? 'auto' : $options['height']" alt="Logo" />
</a>